body {
	display: flex;
	align-items: center;
	flex-flow: column;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(187, 158, 201, 0.623);
}

header {
  height: 12%;
}

h1{
  color: rgb(55, 71, 66);
}

/* PALETA DE CORES */
#colors-set-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  height: 10%;
  border-radius: 2em;
  background-color: rgba(187, 158, 201, 0.623);
}

/* TAMANHO AMOSTRA DE COR */
.color {
  height: 20px;
  width: 20px;
}

/* ÁREA AMOSTRA DE CORES */
#color-palette {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

/*:hover #verde {
  height: 55px;
  width: 55px;
}*/
/* COR AMOSTRA DE CORES */
#Verde{
background-color: green;
border: 1px solid black;
border-radius: 5em;
}

#Rosa {
background-color: pink;
border: 1px solid black;
border-radius: 5em;
}

#Azul {
background-color: blue;
border: 1px solid black;
border-radius: 5em;
}

#Roxo {
  background-color: purple;
  border: 1px solid black;
  border-radius: 5em;
}

#Amarelo {
  background-color: yellow;
  border: 1px solid black;
  border-radius: 5em;
}

#Laranja {
background-color: orange;
border: 1px solid black;
border-radius: 5em;
}

#Vermelho {
background-color: red;
border: 1px solid black;
border-radius: 5em;
}

#Cinza {
background-color: gray;
border: 1px solid black;
border-radius: 5em;
}

#Branco {
background-color: white;
border: 1px solid black;
border-radius: 5em;
}

#Preto {
background-color: black;
border: 1px solid black;
border-radius: 5em;
}

/* BOTÃO LIMPAR CORES  DO QUADRO DE PIXELS */
/* {
  border-radius: 1em ;
  background-color:rgba(235, 148, 228, 0.63);
  color: rgb(55, 71, 66);
  font-weight: 500;
  font-size: 16px;
  height: 34px;
  width: 160px;
  border-style: groove;
  border-color: rgb(0, 0, 0);
} */

/* ÁREA INPUT AJUSTE DE TAMANHO */
#size-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: fit-content;
  margin-top: 10px;
  padding: 2px 15px 2px 15px;
  background-color: rgba(187, 158, 201, 0.623);
  color: rgb(27, 31, 30);
  border-radius: 1.3em;
}

/* LABEL INPUT AJUSTE DE TAMANHO */
label {
  margin-right: 5px;
  font-size: 17px;
}

/* BOTÃO AJUSTE DE TAMANHO */
#generate-board-size, #clear-board {
  margin-left: 15px;
  height: 25px;
}

/* LABEL INPUT AJUSTE DE TAMANHO */
#tudo {
  display: flex;
  flex-direction: column;
	justify-content: start;
  align-items: center;
	width: 90%;
  background-color: rgba(187, 158, 201, 0.623);
  border-radius: 1.3em;
  height: 80%;
  padding-top: 10px;
}

/* DIV AREA PIXEL BOARD */

.initial-state {
  padding-top: 140px;
  text-align: center;
  width: 90%;
}
#pixel-board-area {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 90%;
}

/* TAMANHOS PIXELS 5X5, 15X15, 25X25 */
.tam-x5 {
  height: 40px;
  width: 40px;
}

.tam-x15 {
  height: 20px;
  width: 20px;
}

.tam-x25 {
  height: 10px;
  width: 10px;
}

/* TAMANHOS AREA QUADRO DE PIXELS */
.x, .x5 {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 210px;
  width: 210px;
  margin-top: 20px;
  margin-bottom:20px;
}

.x15 {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height:330px;
  width: 330px;
  margin-top: 20px;
  margin-bottom:20px;
}

.x25 {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 300px;
  margin-top: 20px;
  margin-bottom:20px;
}

.pixel {
  background-color: white;
  border: 1px solid black;
}

/* COR PIXELS 5X5 */
.pixelPretox5 {
  background-color: black;
  border: 1px solid black;
  height: 40px;
  width: 40px;
}

.pixelVerdex5 {
  background-color: green;
  border: 1px solid black;
  height: 40px;
  width: 40px;
}

.pixelRosax5 {
  background-color: pink;
  border: 1px solid black;
  height: 40px;
  width: 40px;
}

.pixelAzulx5 {
  background-color: blue;
  border: 1px solid black;
  height: 40px;
  width: 40px;
}

.pixelRoxox5 {
  background-color: purple;
  border: 1px solid black;
  height: 40px;
  width: 40px;
}

.pixelAmarelox5 {
  background-color: yellow;
  border: 1px solid black;
  height: 40px;
  width: 40px;
}

.pixelLaranjax5 {
  background-color: orange;
  border: 1px solid black;
  height: 40px;
  width: 40px;
}

.pixelVermelhox5 {
  background-color: red;
  border: 1px solid black;
  height: 40px;
  width: 40px;
}

.pixelPretox15 {
  background-color: black;
  border: 1px solid black;
  height: 20px;
  width: 20px;
}

/* COR PIXELS 15X15 */
.pixelVerdex15 {
  background-color: green;
  border: 1px solid black;
  height: 20px;
  width: 20px;
}

.pixelRosax15 {
  background-color: pink;
  border: 1px solid black;
  height: 20px;
  width: 20px;
}

.pixelAzulx15 {
  background-color: blue;
  border: 1px solid black;
  height: 20px;
  width: 20px;
}

.pixelRoxox15 {
  background-color: purple;
  border: 1px solid black;
  height: 20px;
  width: 20px;
}

.pixelAmarelox15 {
  background-color: yellow;
  border: 1px solid black;
  height: 20px;
  width: 20px;
}

.pixelLaranjax15 {
  background-color: orange;
  border: 1px solid black;
  height: 20px;
  width: 20px;
}

.pixelVermelhox15 {
  background-color: red;
  border: 1px solid black;
  height: 20px;
  width: 20px;
}

/* COR PIXELS 25X25 */
.pixelPretox25 {
  background-color: black;
  border: 1px solid black;
  height: 10px;
  width: 10px;
}

.pixelVerdex25 {
  background-color: green;
  border: 1px solid black;
  height: 10px;
  width: 10px;
}

.pixelRosax25 {
  background-color: pink;
  border: 1px solid black;
  height: 10px;
  width: 10px;
}

.pixelAzulx25 {
  background-color: blue;
  border: 1px solid black;
  height: 10px;
  width: 10px;
}

.pixelRoxox25 {
  background-color: purple;
  border: 1px solid black;
  height: 10px;
  width: 10px;
}

.pixelAmarelo25 {
  background-color: yellow;
  border: 1px solid black;
  height: 10px;
  width: 10px;
}

.pixelLaranjax25 {
  background-color: orange;
  border: 1px solid black;
  height: 10px;
  width: 10px;
}

.pixelVermelhox25 {
  background-color: red;
  border: 1px solid black;
  height: 10px;
  width: 10px;
}

/* BOTÃO LIMPAR CORES DO QUADRO */
.quadroLimpo {
  background-color: white;
}